.classpath
.project
.settings/
.DS_Store
target/
data/
bin/
c3po-core/output.xml
c3po-webapi/war/
*/profiles/*
*/exports/*
*/*.csv
*/logs/
*/log
*.iml
.idea/
# vagrant related local settings, should never end up in the repo
.vagrant_settings/maven_settings.xml
.vagrant_settings/proxy_settings.conf
