@(collections: List[String], filterform: Form[helpers.Filter], filtervalues: List[String], elements: List[com.petpet.c3po.datamodel.Element])
@import helper._

@main("c3po") {
<script type="text/javascript">
           $(function(){
               //when some select is chosen, submit the form
               $("select").click(function() {
            	   $('#filterform').submit();
               });

               // when some input radio is chosen 
               // remove the class selected filter from all
               // then add it to the chosen one. 
               $("input").change(function(){
                 $('input').each(function(){
                	    $(this).parent().removeClass("selected_filter");
                     });
                   
                   $(this).parent().addClass("selected_filter");
                   $('#filterform').submit();
                });
           });

          
</script>
<div class="container">
<div class = "span-24 selector last">
 @form(action = routes.Elements.list, args = 'id -> "filterform") {
 <div id="clear">
            <a href="/objects"></a>
        </div>
<div class="selection ">
      <ul>
         <li>@select(
         field = filterform("collection"),
          options = options(collections),
          args = '_label -> "Collections"
         )</li>
          <li>
        @select(
            field = filterform("filter"), 
            options = options(
                "none" -> "none",
                "mimetype" -> "mimetype",
                "format" -> "format"
            ),
            args = '_label -> "Filters",
            '_id -> "sel_filter"
        )</li>
        </ul>
        
  </div>
    
   <div class="title">
        <h2>Select filter options</h2>
  </div>
  
    @if(filtervalues != null && !filtervalues.isEmpty()) {
    <div class="filtervalues">
        <ul>
        @for(v <- filtervalues) {
         <li>
            <input type="radio" name="value" value="@v" id="@v"/>
            <label for="@v">@v</label>
         </li>
        }  
        </ul> 
     </div>
     }         
     <input id="offset" type="hidden" name="offset" value="0">
  }
 
    </div>
    </div>
  
  @if(elements != null) {
     <script type = "text/javascript">
       $(function() {
    	   function url_query( query ) {
    		    query = query.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
    		    var expr = "[\\?&]"+query+"=([^&#]*)";
    		    var regex = new RegExp( expr );
    		    var results = regex.exec( window.location.href );
    		    if( results !== null ) {
    		        return results[1];
    		        return decodeURIComponent(results[1].replace(/\+/g, " "));
    		    } else {
    		        return 0;
    		    }
    		}
    		 
    		// Example usage - http://www.kevinleary.net/?load=yes
    	 var offset = url_query('offset');
    	 $('#offset').val(offset);
         $('input[id="@filterform.get().getValue()"]').prop('checked', true);
         $('input[id="@filterform.get().getValue()"]').parent().addClass("selected_filter");
       });
     </script>
     <div id="objects" class="content">     
     <h2>Objects</h2>
     Filtered by<br/> 
     Collection: @filterform.get().getCollection() <br/>
     Filter: @filterform.get().getFilter() <br/>
     Value: @filterform.get().getValue() <br /><br/>
     
     
       @if(elements.isEmpty()) {
          The query returned an empty set. May be there are no more objects in the database or it is empty.
       } else {
          
          @for(e <- elements) {
              <a href="/objects/@e.getId()">@e.getName()</a><br/>
          }
       }
       
       <div id="prev">
        @if((filterform.get().getOffset() - filterform.get().getBatch()) > 0) {
            <a id="no_prev" class="pagination_button">Prev</a>
        } else {
            <a id="prev" class="pagination_button">Prev</a>
        }
        </div>
        <div id="next">
            <a id="next" class="pagination_button">Next</a>
           
        </div>
        
               <script type="text/javascript">
       $(function(){
            $('#no_prev').click(function(){
              $('#offset').val('0');
            });

            $('#prev').click(function() {
                var current = $('#offset').val();
                var diff = parseInt(current) - 25;
                var offset = (diff > 0) ? diff : 0;
                $('#offset').val(offset);
                window.location = window.location + 'value=@filterform.get().getValue()';
                $('#filterform').submit();
            });   

            $('#next').click(function(){
                var offset = $('#offset').val();
                $('#offset').val(parseInt(offset) + 25);
                @if(filterform.get().getValue() != null) {
                    window.location = window.location + 'value=@filterform.get().getValue()';
                }
                $('#filterform').submit();
              });   
       });
       </script>          
          
       } 
     </div>
}