@(collections: List[String], element: com.petpet.c3po.datamodel.Element)
@import helper._

@scripts = {
<script type="text/javascript" src="@routes.Assets.at("javascripts/header.js")"></script>
}


@main("c3po", collections, scripts){
 @if(element != null) {
     
     <div id="objects" class="content">     
        <h2>@element.getName()</h2>
        <div class="element_general">
        <p>
            UID: @element.getUid()<br />
            Collection: @element.getCollection()  
         </p>
         </div>
         <div class ="element_data">
         <h3> Meta Data </h3>
         <ul>
            @for(mr <- element.getMetadata()) {
              @if(mr.getValue() == null) {
                <li class="conflict">
                @mr.getProperty().getKey() :
                
                @for((value, i) <- mr.getValues().zipWithIndex) {                
                    @value  [@mr.getSources().get(i)],
                }
                </li>
                
              } else {
                <li>@mr.getProperty().getKey() : @mr.getValue() </li>
              }
            }
          </ul>
         </div>
     </div>
}
}