@(elements: List[com.petpet.c3po.api.model.Element])
@import helper._

@scripts = {
<script type="text/javascript" src="@routes.Assets.at("javascripts/header.js")"></script>
}

@main("c3po - Objects", scripts){
<script type="text/javascript">

       $(function(){
          // gets the value of the given query parameter or the default value
          // if it is not present.
           function url_query( query, dflt ) {
               query = query.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
               var expr = "[\\?&]"+query+"=([^&#]*)";
               var regex = new RegExp( expr );
               var results = regex.exec( window.location.href );
               if( results !== null ) {
                   return results[1];
                   return decodeURIComponent(results[1].replace(/\+/g, " "));
               } else {
                   return dflt;
               }
           }

          // replaces the value for the given key in the given uri.
          // if the key does not exist, it is appended. 
           function updateQueryStringParameter(uri, key, value) {
        	   var re = new RegExp("([?|&])" + key + "=.*?(&|$)", "i");
        	   separator = uri.indexOf('?') !== -1 ? "&" : "?";
        	   if (uri.match(re)) {
        	     return uri.replace(re, '$1' + key + "=" + value + '$2');
        	   }
        	   else {
        	     return uri + separator + key + "=" + value;
        	   }
        	 }
            
            var c_offset = url_query("offset", 0);
            var c_batch = url_query("limit", 25);
           
            $('#prev').click(function() {
                var diff = parseInt(c_offset) - c_batch;
                var offset = (diff > 0) ? diff : 0;
                new_url = updateQueryStringParameter(window.location.href, "offset", offset);
                window.location.href = new_url;
            });   

            $('#next').click(function(){
                var next = parseInt(c_offset) + parseInt(c_batch);
                new_url = updateQueryStringParameter(window.location.href, "offset", next);
                window.location.href = new_url;
            });   
       });
</script>  
  
  @if(elements != null) {
     <div id="objects" class="content">     
     <h2>Objects</h2>
     
       @if(elements.isEmpty()) {
          The query returned an empty set. May be there are no more objects in the database or it is empty.
       } else {
          
          @for(e <- elements) {
              <a href="/c3po/objects/@e.getId()">@e.getName()</a><br/>
          }
       }
       
       <div class="objectsnavigator">
         <div id="prev">
              <a id="prev" class="green_button">Prev</a>
          </div>
          <div id="next">
              <a id="next" class="green_button">Next</a>
          </div>
        </div>
     </div>
   } else {
    <div id="objects" class="content">     
     <h2>Please select a collection</h2>
     </div>
   } 
}
