@(collections: List[String], element: com.petpet.c3po.api.model.Element)

@scripts = {


    <script type="text/javascript" href="/assets/javascripts/header.js"></script>

    <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.3.0.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="http://www.bacubacu.com/colresizable/js/colResizable-1.5.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/notifIt.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/notifIt.css">
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.8.21/themes/smoothness/jquery-ui.css">



    <style>

        table{
            line-height: 1.4em;
            font-style: normal;
            border-collapse:separate;
        }



        thead th{
            padding:15px;
            color:#fff;
            text-shadow:1px 1px 1px #568F23;
            border:1px solid #93CE37;
            border-bottom:3px solid #9ED929;
            background-color:#9DD929;
            background: #91c525;
            -webkit-border-top-left-radius:5px;
            -webkit-border-top-right-radius:5px;
            -moz-border-radius:5px 5px 0px 0px;
            border-top-left-radius:5px;
            border-top-right-radius:5px;
        }


        thead th:empty{
            background:transparent;
            border:none;
        }

        tfoot td{
            color: #9CD009;
            font-size:32px;
            text-align:center;
            padding:10px 0px;
            text-shadow:1px 1px 1px #444;
        }
        tfoot th{
            color:#666;
        }

        tbody td{
            padding:10px;
            text-align:center;
            background-color:#DEF3CA;
            border: 1px solid #FFFFFF;
            -moz-border-radius:2px;
            -webkit-border-radius:2px;
            border-radius:2px;
            color:#666;
            text-shadow:1px 1px 1px #fff;
        }

        tr:nth-child(even) td
        {
            background-color: #ffffff;
        }

        table{
            border-collapse: collapse;
        }

    </style>

    <script>




            $('document').ready(function () {

                var elem = "";
                var objectID = window.location.href.split('/').pop();
                $.ajax({
                    type: 'GET',
                    url: '/c3po/object/' + objectID,
                    async: false,
                    success: function (oData) {
                        elem = oData;
                    }
                });

                var data = elem;
                var result_array;

                var ViewModel = function () {
                    var self = this;
                    self.MyData = ko.observableArray();
                    self.checkboxClick = function (myData, value) {
                        //self.MyData.remove(myData);
                        console.log(myData);
                        var index=self.SelectedData.indexOf(myData);
                        if (index>-1)
                        {
                            self.SelectedData.splice(index,1);
                            console.log("removed the property:" + myData);
                        } else{
                            self.SelectedData.push(myData);
                            console.log("added new property:" + myData);
                        }
                        return true;
                    }
                    self.SelectedData = ko.observableArray();
                    self.ColumNames = ko.observableArray();
                    result_array=self.SelectedData;
                };
                var viewModel = new ViewModel();


                var MAPPING = (function () {
                    var module = {};
                    module.ToMyData = function (input) {
                        var mapping = {
                            //customize at the root level.
                            create: function (options) {
                                //first map the vm like normal
                                //var vm = ko.mapping.fromJS(options.data, { observe: ["login"] });
                                var vm = options.data;
                                //now manipulate the returned vm in any way that you like
                                vm.checked = ko.observable(false);

                                //return our vm that has been mapped and tweaked
                                return vm;
                            }
                        };
                        ko.mapping.fromJS(input, mapping, viewModel.MyData);

                    };
                    module.ToColumNames = function (names) {
                        var p = names[0];
                        for (var key in p) {
                            if (p.hasOwnProperty(key)) {
                                viewModel.ColumNames.push(key);
                            }
                        }

                    };

                    return module;
                })();

                ko.applyBindings(viewModel);
                window.onload = function () {
                    MAPPING.ToColumNames(data);
                    MAPPING.ToMyData(data);
                }

                function createRule() {
                    var inputs = document.getElementsByClassName("my-checked-property-value");
                    var valuesToDelete=[];
                    for (var i in inputs){
                        if (inputs[i].checked) {
                            var tmp=new Object();
                            tmp.source = inputs[i].getAttribute('data_source');
                            tmp.property = inputs[i].getAttribute('data_property');
                            tmp.value = inputs[i].getAttribute('value');

                            valuesToDelete.push(tmp);
                        }
                    }
                    var conditions=viewModel.SelectedData();
                    var uid=document.getElementById('uid').innerHTML;
                    var name = document.getElementById("ruleName").value;
                    var description = document.getElementById("ruleDescription").value;
                    var result={"conditions": conditions, "valuesToDelete": valuesToDelete, "uid": uid, "ruleName" : name, "ruleDescription": description};
                    $.ajax({
                        type: 'POST',
                        url: '/c3po/conflicts',
                        dataType: 'json',
                        data: JSON.stringify(result),
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        success: function (oData) {
                            //  html('A new rule was created').appendTo('#table');
                        },
                        error: function (oData) {
                            $('.popupreason').fadeOut('fast', function () {
                                $(this).css({'color': 'red'}).html('An error occurred while sending the email! Error message is: <br />' + oData.responseText).fadeIn('slow');
                            })
                        }
                    });

                }

                $('#ruleCreate').on('click', function () {
                    createRule();
                    notif({
                        msg: "<b>Success:</b> A new rule has been created",
                        type: "success",
                        position: "center",
                        timeout: 2000
                    });
                });

                $('#ruleCreateAndExecute').on('click', function(){
                    createRule();
                    var ruleNames=[];
                    ruleNames.push(document.getElementById("ruleName").value);
                    $.ajax({
                        type: 'POST',
                        url: '/c3po/conflicts/resolve',
                        data: JSON.stringify(ruleNames),
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        success: function (oData) {
                            notif({
                                msg: "<b>Success:</b> A rule has been created and executed. " + oData,
                                type: "success",
                                position: "center",
                                timeout: 3000,
                                multiline: true,
                                autohide: false,
                                callback: function(){window.location.reload();}
                            });

                        }
                    });
                });
                //$( "table" ).resizable("option", "maxWidth", $('#body').width() - 260);
                //$("table").colResizable({liveDrag:true});
            });

    </script>

}

@main("c3po", collections, scripts) {
    @if(element != null) {
        <div id="objects" class="content">
            <h2>@element.getName()</h2>
            <div class="element_general">
                <p>
                    UID: <span id="uid">@element.getUid()</span><br />
                    Collection: @element.getCollection()
                </p>
            </div>

            <style>

            </style>
            <div id="table" >
                <table border="1"  >
                    <thead>
                        <tr>
                            <th>Rule trigger</th>
                                <!--ko foreach: ColumNames-->
                            <th data-bind="text: $data"></th>
                                <!--/ko-->
                        </tr>
                    </thead>
                    <tbody>
                        <!--ko foreach: MyData-->
                    <tr>
                        <td >
                            <div><input data-bind="click: $root.checkboxClick" type="checkbox"/></div>
                        </td>
                            <!--ko foreach: {data: $root.ColumNames, as: 'columnName'}-->
                        <td >
                                <!-- ko if: $parent[columnName]    -->
                                    <!-- ko ifnot:  columnName==='Status'  ||  columnName==='Property'   -->
                                <input class="my-checked-property-value" data-bind="attr: {  data_source: columnName, data_property:$parent['Property']  }, value: $parent[columnName] " type="checkbox" />
                                    <!-- /ko -->
                                <!-- /ko -->
                            <span data-bind="text:$parent[columnName]"></span>
                        </td>
                            <!--/ko-->
                    </tr>
                        <!--/ko-->
                    </tbody>
                </table>

                <input type="text" id="ruleName" value="Rule name">
                <a id="ruleCreate" class="grey_button" href="javascript:void(0);" >Create a rule</a>
                <a id="ruleCreateAndExecute" class="grey_button" href="javascript:void(0);"  >Create and execute a rule</a> <br>

                <textarea id="ruleDescription" rows="1" cols="67">Rule description</textarea>

            </div>
            <div>
                <br>
                <b>Useful Information:</b>
                <p>
                    This table contains information about the selected digital object. Each row describes one of the properties of the object, including it's values.<br>

                    The "Status" column explains the status of the property. In case the status is 'CONFLICT', there are several conflicting values for the property.<br>

                    The rest of the columns contain values from the different source tools which provide information.<br>

                    The table also provides possibility to resolve the conflicts. The most right column with checkboxes set whether the properties are important for conflict resolution. <br>
                    These properties will be used as triggering conditions for the created rule.The checkboxes next to property values define whether the values should be removed. <br>
                    If there is only one value left the property status is set to 'SINGLE_RESULT'.
                </p>
            </div>
        </div>


    }
}

