@(title: String) @scripts = {
<script type="text/javascript" src="@routes.Assets.at("javascripts/header.js")"></script>
} @main(title, scripts){
<div class="github">
  <a href="https://github.com/peshkira/c3po" target="_blank"> <img
    src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"> </a>
</div>
<div class="green-background">
  <div class="container">
    <div class="content span-24">
      <h2>What is c3po?</h2>
      <p>c3po is a content profiling tool used during preservation planning. It uses the meta data extracted from
        digital objects and aggregates it in order to support the analysis during preservation planning activities.
        Furthermore, c3po provides representative samples from collections and it offers different data export
        facilities, so that planners can analyze the content even more and obtain deeper knowledge of the objects they
        are trying to preserve.</p>
      <p>
        If you want to find out more, please navigate <a href="http://peshkira.github.io/c3po">here</a>.
      </p>

      <h3>Usage</h3>
      TBD
      <!--  <p>
            Navigate to the overview tab and choose a collection by clicking on the first image button in the menu bar.
            This will present you some diagrams and basic overview of the selected collection. By clicking on 
            the desired values of the diagrams, you will start filtering the collection. The filter is conveniently
            stored for you as you drill down the content set.
            </p>
            <h4>Filtering</h4>
            <p>
            c3po allows you to filter the data based on some property value conditions. You can easily partition the selected collection
            based on some simple criteria. For example if you want to see all objects created in year 2007, you can just click on the 
            filter button in the menu. The filter view will slide in and you can click on the big green '+' button. Choose the 'created'
            property (or any other) and c3po will present you all years in your collection. When you choose a year (e.g. 2007), then c3po
            will find all objects that had the created meta data field with the value 2007 and will recreate the overview only for this partition.
            If you want to add more conditions, just hit the '+' button again.
            </p>
            <h4>Navigation</h4>
            <p>
            When you create a filter, it is stored for you and you can navigate through the pages without losing it. The results you see, always apply to the
            current chosen filter. If you like to see the current filter click on the filter image button to verify the current selection. When
            you are done with the current filter you can select a different, or remove it, or leave it for later usage or even modify it.
            </p>
            <h4>Export</h4>
            <p>
            Exporting data allows you to take dive even deeper into your data. There are a few export facilities that allow you to export your data
            (based on the current filter) and analyze it even more with other tools. 
            </p>
            -->

      <div id="slogan" class="prepend-18 span-6">May the Force be with you!</div>
    </div>
  </div>
</div>
}
