@(title: String, coll: String, collections: List[String], selectform: Form[helpers.Filter])(content: Html)
@import helper._

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script type="text/javascript">
           $(function(){     
        	   $("select").change(function() {
        		 document.location = $(this).val()
               })
           });
        </script>
    </head>
    <body>
        <div class = "header">
            <h1>C3PO - Clever, Crafty Content Profiling of Objects</h1>
        </div>
        <div class = "selector">
                <span class="selection">
                    <span>Filters</span>
                        <select>
                            <option selected disabled>Select Collection</option>
                            <option value="/collection/@coll/filter/mimetype">mimetype</option>
                            <option value="/collection/@coll/filter/format">format</option>
                        </select>
                    </span>
                 </span>
                <span class="selection">
                    @if(coll == null) {
                        <span>Collections</span>
                    } else {
                        <span>@coll</span>
                    }
                    <select>
                        <option selected disabled>Select Collection</option>
                         @for(name <- collections) {
                            <option value="/collection/@name">@name</option>
                         }
                    </select>
                </span>
            <div id="title">
             @if(coll == null) {
                <h2>Please choose a collection</h2>
            } else {
                <h2>@coll</h2>    
            }
            </div>
        </div>
        
        @content
    </body>
</html>
