@(coll: String, collections: List[String], obj: com.petpet.c3po.datamodel.Element, objects: List[com.petpet.c3po.datamodel.Element], batch: Int, offset: Int)

@main("c3po", coll, collections) {
<div class = "selector">
        <span class="selection">
            <span>Filters</span>
                <select>
                    <option selected disabled>Select Basic Filter</option>
                    <option value="/objects/collection/@coll/filter/mimetype">mimetype</option>
                    <option value="/objects/collection/@coll/filter/format">format</option>
                </select>
            </span>
         </span>
        <span class="selection">
            @if(coll == null) {
                <span>Collections</span>
            } else {
                <span>@coll</span>
            }
            <select>
                <option selected disabled>Select Collection</option>
                 @for(name <- collections) {
                    <option value="/objects/collection/@name">@name</option>
                 }
            </select>
        </span>
    <div id="title">
     @if(coll == null) {
        <h2>Please choose a collection</h2>
    } else {
        <h2>@coll</h2>    
    }
    </div>
</div>

 @if(objects == null) {
    <div id="object" class="content">
       <h2>Object: @obj.getName()</h2>
       
       uid: @obj.getUid() <br />
       collection: @obj.getCollection() <br />
       
    </div>   
  } else {
    <div id="objects" class="content">
     <h2>Objects</h2>
     
     @if(objects.isEmpty()) {
        The query returned an empty set. May be there are no more objects in the database or it is empty.
     } else {
        
        @for(e <- objects) {
            <a href="/objects/@e.getId()">@e.getName()</a><br/>
        }
        
        <div id="prev">
        @if((offset - batch) < 0) {
            <a href="/objects/offset/0">Prev</a>
        } else {
            <a href="/objects/offset/@(offset-batch)">Prev</a>
        }
        </div>
        <div id="next">
            <a href="/objects/offset/@(offset + batch)">Next</a>
        </div>
     } 
     
    </div>    
  }
}