@(collections: List[String], graphs: helpers.GraphData, stats: helpers.Statistics)
@import helper._

@main("c3po", collections) {
<div id="overview">
<script type="text/javascript">
          $(document).ready(function(){
        	  var button = $('<a  href="#" class="green_button">Add Diagram</a>').appendTo($('#more'));
        	  button.click(function(){
        		  $.ajax ({
                      headers: { 
                           Accept : "application/json; charset=utf-8",
                       },
                      type:     'GET',
                      url:      '/c3po/properties',
                      timeout:  5000,
                      async: false,
                      success:  function (oData) {
                        showPopup(oData); 
                                                               
                      }
                  });
              });
             
           });
          
          $(window).unload( function () { 
              $('#spinner').css("opacity","1");
          });


          function showPopup(properties) {
              $("#overlay").addClass('activeoverlay');
               
              var popup = $('#filterpopup');
              popup.children('.popupreason').text('Please select a property');
              var config = popup.children('.popupconfig');

              var sel = $('<select>').appendTo($(config));
              $.each(properties, function(i, value) {
                  $(sel).append($('<option>').text(value).attr('value', value));
              });
              
              popup.css({'display': 'block', 'z-index':11});

              $('.popupconfig select').click(function() {
            	  $.ajax ({
                      type:     'GET',
                      url:      '/c3po/property?name=' + $(this).val(),
                      timeout:  5000,
                      success:  function (oData) {
                          showOptions(oData.type);
                      }
                  });
              });
          };

          function showOptions(type) {
              if (type == "STRING" || type == "BOOL" || type == "DATE") {
                  //TODO show dia 
                  var property = $('.popupconfig select').val();
                  $.ajax({
                      type:     'GET',
                      url:      '/c3po/overview/graph?property='+property,
                      timeout:  5000,
                      success:  function (oData) {
                          var hist = [];
                          $.each(oData.keys, function(i, k) {
                              hist.push([oData.keys[i], parseInt(oData.values[i])]);
                          });
                          var id = oData.property;
                          var data = {};
                          data[id] = hist;
                          drawGraphs(data);
                          hideOptions();
                      }   
                  });
                  
              } else {
            	  var popup = $('#filterpopup');
                  popup.children('.popupreason').text('This is an integer property and it requires the selection of an algorithm for the histogram bins.');
                  popup.children('.popupconfig').append($('<select><option value="fixed">fixed</option><option value="sturge">Sturge\'s</option><option value="sqrt">Square-root choice</option></select>'));
                  popup.css({'display': 'block', 'z-index':11});

                  $('.popupconfig select').click(function() {
                      $('.popupconfig .green_button').remove();
                      $('.popupconfig input').remove();
                      if ($(this).val() == "fixed") {
                          $('.popupconfig').append($('<input type="text" placeholder="nr of bins" />'));
                      }

                      $('.popupconfig').append($('<a class="green_button" href="javascript:hideOptions()">Apply</a>'))
                  });
                  
              }
          }

          function hideOptions() {
              $('#overlay').removeClass('activeoverlay');
              var popup = $('#filterpopup');
              popup.css({'display':'none'});
              popup.children('.popupconfig').children().remove(); 
          }  
</script>
<script type = "text/javascript">
       $(function() {
           function url_query( query ) {
                query = query.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
                var expr = "[\\?&]"+query+"=([^&#]*)";
                var regex = new RegExp( expr );
                var results = regex.exec( window.location.href );
                if( results !== null ) {
                    return results[1];
                    return decodeURIComponent(results[1].replace(/\+/g, " "));
                } else {
                    return 0;
                }
            }
       });
</script>
@if(graphs != null) {
<script type="text/javascript">
$(document).ready(function(){
            var data = {
              @for(g <- graphs.getGraphs()) {
                  '@g.getProperty()': [  @for((k, i) <- g.getKeys().zipWithIndex){
                      ['@k', @g.getValues().get(i)],
                  }
                  ],
                  }
              };

            drawGraphs(data);
});

function getBarChart(ttl) {
    var options = {
            title: ttl,
            seriesDefaults: {
                renderer:$.jqplot.BarRenderer,
                // Show point labels to the right ('e'ast) of each bar.
                // edgeTolerance of -15 allows labels flow outside the grid
                // up to 15 pixels.  If they flow out more than that, they 
                // will be hidden.
                pointLabels: { show: true, location: 'n', edgeTolerance: -15 },
                // Rotate the bar shadow as if bar is lit from top right.
                shadowAngle: 70,
                // Here's where we tell the chart it is oriented horizontally.
                rendererOptions: {
                    barDirection: 'vertical',
                    barWidth: '12'
                },
                color: '#639B00'
            },
            axesDefaults: {
                tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
                tickOptions: {
                  angle: -30,
                  fontSize: '8pt'
                }
            },
            axes: {
                // Use a category axis on the x axis and use our custom ticks.
                xaxis: {
                    renderer: $.jqplot.CategoryAxisRenderer,
                    tickOptions: {
                        formatter: function (format, val) {
                            if(val.length > 30) {
                                 val = val.substring(0, 25) + '...';
                            }

                            if (val.match(".0$") == ".0") {
                                val = val.substring(0, val.length - 2);
                            }
                            return val;
                        }
                    }
                },
                // Pad the y axis just a little so bars can get close to, but
                // not touch, the grid boundaries.  1.2 is the default padding.
                yaxis: {
                    pad: 1.05,
                    tickOptions: {
                        formatString: '%d',
                    }
                }
            },
            cursor: {
                style: 'pointer',     // A CSS spec for the cursor type to change the
                                        // cursor to when over plot.
                show: true,
                showTooltip: false,      // show a tooltip showing cursor position.
                useAxesFormatters: true,        // wether to use the same formatter and formatStrings
                                                // as used by the axes, or to use the formatString
                                                // specified on the cursor with sprintf.
            }
                        
        };

    return options;
};

function getPieChart(ttl) {
    var options = {
            title: ttl,
            seriesDefaults: {
                renderer:$.jqplot.PieRenderer,
                rendererOptions: {
                    showDataLabels: true
                }
            },
            legend: { show: true, location: 'e' }
        };

    return options;
};

function prettifyTitle(title) {
    title = title.replace(/_/g, " ");
    return title.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
};


function drawGraphs(data) {
     console.log(data);
	 var idx = 0;
     var graphsdiv = $('#graphs');
     $.each(data, function(i, d) {
         var container;
         var clazz;
           console.log(d.length);
         if (idx % 2 == 0) {
            container = $('<div class="span-24">').appendTo(graphsdiv);
            clazz = "dia_left";
         } else if (idx % 2 == 1) {
            container = graphsdiv.children('.span-24:last');
            clazz = "dia_right";
         }

         if (d.length > 30) {
            container = $('<div class="span-24">').appendTo(graphsdiv);
            clazz = "dia_full";
            idx++; //if full length  skip to next row left 
         }

         container.append('<div id="'+ i + '" class="'+ clazz + '">');
         $('#' + i).bind('jqplotDataClick', 
                 function (ev, seriesIndex, pointIndex, data) {
                 startSpinner();
                 $.post('/c3po/filter?filter=' + i + '&value='+pointIndex+'&type=graph', function(data) {
                  window.location = '/c3po/overview';  
                  });
         });
         $.jqplot(i, [d], getBarChart(prettifyTitle(i)));

          if (idx == 0) {
             idx++; // if first row skip the right and go to next row...
         }
         idx++;
     }) 
};


</script>
   
}
<div class="content span-24">
    <div class="span-16">
        <div class="span-12">
            @if(session.get("current.collection") == null) {
               <h2>Please select a collection</h2>
            } else {
              <h2>Overview of '@session.get("current.collection")'</h2>
            }
        </div>
        @if(graphs != null) {
        <div id="graphs">
       
        </div>
        }
   </div>
    @if(stats != null) {
        <div id="more"></div>
        <div id="statistics" class="">
            <h4>Size Stats</h4><br/>
            Count : @stats.getCount()<br />
            Size : @stats.getSize() <br />
            Min :  @stats.getMin() <br />
            Max :  @stats.getMax() <br />
            Average :  @stats.getAvg() <br />
            SD :  @stats.getSd() <br />
            Var :  @stats.getVar() <br />
            
         </div>
          }
</div>
</div>    
}

