@(collections: List[String], graphs: helpers.GraphData, stats: helpers.Statistics)
@import helper._

@main("c3po", collections) {
<div id="overview">
<script type="text/javascript">
          $(document).ready(function(){
              
               var visible = false;
               $('#collections_btn').click(function(event) {
                   visible = $("#collections").is(":visible");
                   if (visible == true) {
                      $('#collections').slideUp("fast");
                   } else {
                       $('#collections').slideDown("normal");
                   }

               });

               $('#partitions_btn').click(function(event) {
                   visible = $("#partitions").is(":visible");
                   if (visible == true) {
                      $('#partitions').slideUp("fast");
                   } else {
                       $('#partitions').slideDown("normal");
                   }

               });

               $('#filter_btn').click(function(event) {
                   visible = $("#filter").is(":visible");
                   if (visible == true) {
                      $('#filter').slideUp("fast");
                   } else {
                       $('#filter').slideDown("normal");
                   }

               });

               $("#collections select").click(function() {
                   var collection = $(this).val();
                   $.ajax ({
                         type:     'POST',
                         url:      '/collections?name='+collection,
                         timeout:  5000,
                         success:  function (oData) {
                        	 startSpinner();
                             $('#ajax_collection').text(collection);
                             setTimeout(function() {
                               window.location = '/overview'
                             }, 500);
                         }
                     });
               });
           });
          
          $(window).unload( function () { 
              $('#spinner').css("opacity","1");
          });
</script>
<script type = "text/javascript">
       $(function() {
           function url_query( query ) {
                query = query.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
                var expr = "[\\?&]"+query+"=([^&#]*)";
                var regex = new RegExp( expr );
                var results = regex.exec( window.location.href );
                if( results !== null ) {
                    return results[1];
                    return decodeURIComponent(results[1].replace(/\+/g, " "));
                } else {
                    return 0;
                }
            }
       });
</script>
@if(graphs != null) {
<script type="text/javascript">
$(document).ready(function(){
    // For horizontal bar charts, x an y values must will be "flipped"
    // from their vertical bar counterpart.
    
        @for(g <- graphs.getGraphs()) {
            @if(g.getProperty().equals("mimetype")) {
                var mimes = [  @for((k, i) <- g.getKeys().zipWithIndex){
                    ['@k', @g.getValues().get(i)],
                  }
                ]
            } 

            @if(g.getProperty().equals("format")) {
                var formats = [  @for((k, i) <- g.getKeys().zipWithIndex){
                    ['@k', @g.getValues().get(i)],
                  }
                ]
            }

            @if(g.getProperty().equals("valid")) {
                var valid = [  @for((k, i) <- g.getKeys().zipWithIndex){
                    ['@k', (@g.getValues().get(i))],
                  }
                ]
            }

            @if(g.getProperty().equals("wellformed")) {
                var wellformed = [  @for((k, i) <- g.getKeys().zipWithIndex){
                    ['@k', @g.getValues().get(i)],
                  }
                ]
            }
         }
    ;

    function getBarChart(ttl) {
        var options = {
                title: ttl,
                seriesDefaults: {
                    renderer:$.jqplot.BarRenderer,
                    // Show point labels to the right ('e'ast) of each bar.
                    // edgeTolerance of -15 allows labels flow outside the grid
                    // up to 15 pixels.  If they flow out more than that, they 
                    // will be hidden.
                    pointLabels: { show: true, location: 'n', edgeTolerance: -15 },
                    // Rotate the bar shadow as if bar is lit from top right.
                    shadowAngle: 70,
                    // Here's where we tell the chart it is oriented horizontally.
                    rendererOptions: {
                        barDirection: 'vertical',
                        barWidth: '15',
                    },
                    color: '#639B00'
                },
                axesDefaults: {
                    tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
                    tickOptions: {
                      angle: -30,
                      fontSize: '10pt'
                    }
                },
                axes: {
                    // Use a category axis on the x axis and use our custom ticks.
                    xaxis: {
                        renderer: $.jqplot.CategoryAxisRenderer,
                    },
                    // Pad the y axis just a little so bars can get close to, but
                    // not touch, the grid boundaries.  1.2 is the default padding.
                    yaxis: {
                        pad: 1.05,
                        tickOptions: {formatString: '%d'}
                    }
                },
                sortData: true
            };

        return options;
    };

    function getPieChart(ttl) {
        var options = {
                title: ttl,
                seriesDefaults: {
                    renderer:$.jqplot.PieRenderer,
                    rendererOptions: {
                        showDataLabels: true
                    }
                },
                legend: { show: true, location: 'e' }
            };

        return options;
    };
    
    var plot1 = $.jqplot('mimetypehistogram', [mimes], getBarChart("Mime Types"));
    var plot2 = $.jqplot('formathistogram', [formats], getBarChart("Formats"));
    var plot3 = $.jqplot('validhistogram', [valid], getPieChart("Valid"));
    var plot4 = $.jqplot('wellformedhistogram', [wellformed], getPieChart("Well Formed"));
    
    $('#mimetypehistogram').bind('jqplotDataClick', 
            function (ev, seriesIndex, pointIndex, data) {
            startSpinner();
            $.post('/filter?filter=mimetype&value='+pointIndex, function(data) {
            	window.location = '/overview';  
            	});
    });

    $('#formathistogram').bind('jqplotDataClick', 
            function (ev, seriesIndex, pointIndex, data) {
            startSpinner();
            $.post('/filter?filter=format&value='+pointIndex, function(data) {
                window.location = '/overview';  
                });
    });

    $('#validhistogram').bind('jqplotDataClick', 
            function (ev, seriesIndex, pointIndex, data) {
    	     startSpinner();
    	     $.post('/filter?filter=valid&value='+pointIndex, function(data) {
                 window.location = '/overview';  
                 });
    });

    $('#wellformedhistogram').bind('jqplotDataClick', 
            function (ev, seriesIndex, pointIndex, data) {
    	        startSpinner();
    	        $.post('/filter?filter=wellformed&value='+pointIndex, function(data) {
                    window.location = '/overview';  
                    });
    });
    
});


</script>
   
}
<div class="content span-24">
    <div class="span-16">
        <div class="span-12">
            @if(session.get("current.collection") == null) {
               <h1>Please select a collection</h1>
            } else {
              <h1>Overview of '@session.get("current.collection")'</h1>
            }
        </div>
        @if(graphs != null) {
        <div class="span-16">
        <div id="mimetypehistogram" class="dia"></div><span id="info"></span>
        <div id="formathistogram" class="dia"></div>
        <div id="validhistogram" class="dia"></div>
        <div id="wellformedhistogram" class="dia"></div>
        </div>
        }
   </div>
    @if(stats != null) {
        <div id="statistics" class="span-5 last">
            <h4>Size Stats</h4><br/>
            Count : @stats.getCount()<br />
            Size : @stats.getSize() <br />
            Min :  @stats.getMin() <br />
            Max :  @stats.getMax() <br />
            Average :  @stats.getAvg() <br />
            SD :  @stats.getSd() <br />
            Var :  @stats.getVar() <br />
            
         </div>
          }
</div>
</div>    
}

