<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out" />
    <param name="Threshold" value="INFO" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p [%c{1}] %m%n" />
    </layout>
  </appender>
  <appender name="FILEAPPENDER" class="com.petpet.c3po.utils.C3POFileAppender">
    <param name="Threshold" value="TRACE" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p [%c{1}] %m%n" />
    </layout>
  </appender>
  <logger name="org.apache.commons.digester3">
    <level value="INFO" />
  </logger>
  <logger name="org.apache.commons.beanutils">
    <level value="INFO" />
  </logger>
  <root>
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILEAPPENDER" />
  </root>
</log4j:configuration>